@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    --color-fill: 67, 56, 202;
    --color-text-base: 255, 255, 255;
    --color-text-muted: 199, 210, 254;
    --color-text-inverted: 79, 70, 229;
    --color-button: 255, 255, 255;
    --color-button-hover: 238, 242, 255;
    --color-card: 255, 255, 255;
  }

  .theme-dark {
    --color-fill: 45, 55, 72;
    --color-text-base: 247, 250, 252;
    --color-text-muted: 160, 174, 192;
    --color-text-inverted: 247, 250, 252;
    --color-button: 102, 126, 234;
    --color-button-hover: 76, 81, 191;
    --color-card: 74, 85, 104;
  }
}
