@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    --color-fill: #4338ca;
    --color-text-base: #ffffff;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-button: #ffffff;
    --color-button-hover: #eef2ff;
    --color-card: #ffffff;
  }
  .theme-dark {
    --color-fill: #2d3748;
    --color-text-base: #f7fafc;
    --color-text-muted: #a0aec0;
    --color-text-inverted: #f7fafc;
    --color-button: #667eea;
    --color-button-hover: #4c51bf;
    --color-card: #4a5568;
  }
}
